<div class="">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-4">
    <h2 class="mb-0">Indent loans By Agents</h2>
    <h2 class="mb-0">Indent loans Status</h2>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-4">    
    <div class="h-[400px] cm-shadow p-4 rounded-md">
      <canvas #agentChartCanvas></canvas>
    </div>
          
    <div class="h-[400px] cm-shadow p-4 rounded-md">
      <canvas #statusChartCanvas></canvas>
    </div>
  </div>
  

  <!-- <div class="bg-white rounded-lg">
    <div class="flex flex-col sm:flex-row gap-4">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Select Time Period</mat-label>
        <mat-select [(ngModel)]="selectedPeriod" (selectionChange)="onPeriodChange()">
          <mat-option value="all">All</mat-option>
          <mat-option value="today">Today</mat-option>
          <mat-option value="yesterday">Yesterday</mat-option>
          <mat-option value="week">Last Week</mat-option>
          <mat-option value="month">Last Month</mat-option>
          <mat-option value="custom">Custom Range</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="selectedPeriod === 'custom'" class="flex flex-col sm:flex-row gap-4 w-full sm:w-auto">
        <mat-form-field appearance="outline" class="w-full sm:w-40">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="startPicker" [(ngModel)]="startDate" (dateChange)="onDateChange()">
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full sm:w-40">
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="endPicker" [max]="today" [(ngModel)]="endDate" (dateChange)="onDateChange()">
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div> -->

  <div class="flex justify-between items-center mb-4">
    <button mat-raised-button color="primary" class="sm:w-full" (click)="openNewIndentDialog()">
      <mat-icon>add</mat-icon>
      New Indent Loan
    </button>
  </div>

  <div *ngFor="let agentGroup of filteredIndentLoans">
    <h3 *ngIf="currentUser?.role === 'admin'" class="text-lg font-semibold my-3 text-amber-500 pl-3">{{agentGroup.agent}}</h3>

    <mat-accordion class="mat-cs-body">
      <mat-expansion-panel *ngFor="let loan of agentGroup.loans" class="cm-shadow mb-2 rounded-md">
      <mat-expansion-panel-header class="bg-gray-200">
        <mat-panel-title class="flex items-center justify-between w-full">
            <span class="truncate w-60">{{loan.name}}</span>
            <span *ngIf="loan.indentloan_status === 'Completed'" 
                  class="flex items-center bg-green-300 text-green-800 px-2 py-1 rounded-full text-sm mr-1">
                <mat-icon class="text-green-600 text-sm mr-1">check_circle</mat-icon>
                Completed
            </span>
            <span *ngIf="loan.indentloan_status === 'Approved'" 
                  class="flex items-center bg-blue-300 text-blue-800 px-2 py-1 rounded-full text-sm mr-1">
                  <mat-icon class="mr-1 text-sm" color="primary">thumb_up</mat-icon>
                Approved
            </span>
            <span *ngIf="loan.indentloan_status === 'Pending'" 
                  class="flex items-center bg-amber-100 text-amber-600 px-2 py-1 rounded-full text-sm mr-1">
                  <mat-icon class="text-amber-600 mr-3">schedule</mat-icon>
                Processing...
            </span>
        </mat-panel-title>
    </mat-expansion-panel-header>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 font-sm">
        <div>
          <p><strong>Status:</strong> {{loan.indentloan_status}}</p>
          <p><strong>Customer Name:</strong> {{loan.name}}</p>
          <p><strong>Amount :</strong> {{loan.amount}}</p>
          <p><strong>Date :</strong> {{loan.created_at | date:'dd/MM/yyyy'}}</p>
          <p><strong>Agent Name :</strong> {{loan.agent}}</p>
          <p><strong>Merchant ID :</strong> {{loan.merchantid}}</p>
          <p><strong>Account :</strong> {{loan.account_status ? loan.account_status : 'Pending'}}</p>
        </div>

        <div>
          <p><strong>Lender :</strong> {{loan.lender}}</p>
          <p><strong>City :</strong> {{loan.city}}</p>
          <p><strong>Account Name :</strong> {{loan.accountName}}</p>
          <p><strong>Account Number :</strong> {{loan.accountNumber}}</p>
          <p><strong>IFSC Code :</strong> {{loan.ifscCode}}</p>
          <p><strong>Transferred :</strong> {{loan.transfer_status ? loan.transfer_status : 'Pending'}}</p>

          <mat-checkbox *ngIf="currentUser?.role === 'admin'" color="accent" [checked]="loan.indentloan_status === 'Approved' || loan.indentloan_status === 'Completed'"
          (change)="ApprovalClick($event, loan)"
          [disabled]="loan.indentloan_status === 'Completed' || loan.indentloan_status === 'Approved'">Approve</mat-checkbox>

          <mat-checkbox *ngIf="currentUser?.role === 'admin'" color="primary" [checked]="loan.account_status === 'Added'"
          (change)="AccounAddClick($event, loan)"
          [disabled]="loan.account_status === 'Added'">Account</mat-checkbox>

          <mat-checkbox *ngIf="currentUser?.role === 'admin'" color="accent" [checked]="loan.transfer_status === 'Transferred'"
          (change)="TransferClick($event, loan)"
          [disabled]="loan.transfer_status === 'Transferred'">Transfer</mat-checkbox>

        </div>
        
        <div class="grid grid-cols-1 sm:grid-cols-1 gap-1">
          <button mat-raised-button color="primary" [disabled]="loan.indentloan_status === 'Completed' || loan.indentloan_status === 'Pending'" (click)="CreateNewLoan(loan)">
            <mat-icon>add</mat-icon> Create Loan
          </button>
          <button mat-raised-button color="primary" [disabled]="loan.indentloan_status === 'Completed'" (click)="editIndentLoan(loan)">
            <mat-icon>edit</mat-icon> Edit
          </button>
          <button mat-raised-button color="warn" (click)="deleteIndentLoan(loan.id)">
            <mat-icon>delete</mat-icon> Delete
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
</div>

<ng-template #Approval>
    <h2 mat-dialog-title>Indentloan Apporval</h2>
    <mat-dialog-content>
     <p>Are you sure you want to approve this loan?</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close (click)="close()">Cancel</button>
      <button mat-raised-button color="primary" (click)="updateAgent()">Update</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #Account_add>
    <h2 mat-dialog-title>Indentloan Apporval</h2>
    <mat-dialog-content>
     <p>Are you sure you want to Add Account for this loan?</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close (click)="close()">Cancel</button>
      <button mat-raised-button color="primary" (click)="updateAgent()">Update</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #Transfer>
    <h2 mat-dialog-title>Indentloan Apporval</h2>
    <mat-dialog-content>
     <p>Are you sure you want to Transfer?</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close (click)="close()">Cancel</button>
      <button mat-raised-button color="primary" (click)="updateAgent()">Update</button>
    </mat-dialog-actions>
</ng-template>