<div class="p-4">
    <!-- Page Header -->
    <div class="space-y-4">
      <div class="grid grid-cols-1 sm:grid-cols-2">
        <div>
          <h1 class="text-2xl font-bold">Dashboard</h1>
          <p class="text-sm text-gray-600">Welcome back, Admin User (Admin)</p>
        </div>
        <div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Filter by Date</mat-label>
            <mat-select [(value)]="selectedRange" (selectionChange)="onDateRangeChange($event.value)">
              <mat-option *ngFor="let range of dateRanges" [value]="range.value">{{ range.label }}</mat-option>
            </mat-select>
          </mat-form-field>
          
          <!-- Custom range datepickers -->
          <div *ngIf="selectedRange === 'custom'" class="custom-range">
            <mat-form-field>
              <mat-label>Start Date</mat-label>
              <input matInput [matDatepicker]="picker1" [(ngModel)]="customStartDate">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>End Date</mat-label>
              <input matInput [matDatepicker]="picker2" [(ngModel)]="customEndDate">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          
            <button mat-raised-button color="primary" (click)="applyCustomRange()">Apply</button>
          </div>
        </div>
      </div>

            <!-- Stats Cards -->
            <div class="grid grid-cols-1 md:grid-cols-4 gap-2">
              <div class="bg-white rounded-lg shadow p-4">
                <div class="text-sm font-semibold text-gray-600">Fino Wallet </div>
                <div class="text-xl mt-2 text-green-500 font-bold">₹ {{totalCollections}}</div>
              </div>
              <div class="bg-white rounded-lg shadow p-4">
                <div class="text-sm font-semibold text-gray-600">Office Wallet</div>
                <div class="text-xl mt-2 text-red-500 font-bold">₹ {{totalPayments}}</div>
              </div>
              <div class="col-span-2">
                <div *ngIf="loggedInUserRole === 'admin'" class="mb-3 flex gap-4">
                  <mat-radio-group
                  *ngIf="loggedInUserRole === 'admin'"
                  [(ngModel)]="selectedView"
                  (change)="onViewChange(selectedView)"
                  class="flex flex-row gap-6 mb-4 text-sm"
                >
                  <mat-radio-button value="client">Client Wise</mat-radio-button>
                  <mat-radio-button value="agent">Agent Wise</mat-radio-button>
                </mat-radio-group>
                </div>

                <div *ngIf="selectedView === 'agent'">
                  <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Filter by Agent</mat-label>
                    <mat-select [(value)]="selectedAgentId" (selectionChange)="onAgentSelect($event.value)">
                      <mat-option *ngFor="let agent of agents" [value]="agent.userId">{{ agent.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                
                <div *ngIf="selectedView === 'client'">
                  <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Filter by Client</mat-label>
                    <mat-select [(value)]="selectedClientId" (selectionChange)="onClientSelect($event.value)">
                      <mat-option *ngFor="let client of clients" [value]="client.id">{{ client.clientName }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                

              </div>
            </div>
  
      <!-- Stats Cards -->
      <!-- <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
        <div class="bg-white rounded-lg shadow p-4">
          <div class="text-sm font-semibold text-gray-600">Total Collection</div>
          <div class="text-xl mt-2 text-green-500 font-bold">₹ {{totalCollections}}</div>
        </div>
        <div class="bg-white rounded-lg shadow p-4">
          <div class="text-sm font-semibold text-gray-600">Total Payments</div>
          <div class="text-xl mt-2 text-red-500 font-bold">₹ {{totalPayments}}</div>
        </div>
        <div class="bg-white rounded-lg shadow p-4">
          <div class="text-sm font-semibold text-gray-600">Total Transfer</div>
          <div class="text-xl mt-2 text-amber-400 font-bold">₹ {{totalTransfer}}</div>
        </div>
        <div class="bg-white rounded-lg shadow p-4">
          <div class="text-sm font-semibold text-gray-600">Net Balance</div>
          <div class="text-xl mt-2 text-green-500 font-bold">₹ {{netBalance}}</div>
        </div>
      </div> -->
  
      <!-- Charts Section -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
        <div class="bg-white rounded-lg p-4">
          <h2 class="font-bold mb-4">Transactions (Last 7 Days)</h2>
          <div class="h-[400px] flex justify-center cm-shadow p-4 rounded-md">
            <canvas id="transactionsBarChart" class=""></canvas>
          </div>
        </div>
        <div class="bg-white rounded-lg p-4">
          <h2 class="font-bold mb-4 flex justify-evenly">Transaction Types</h2>
          
          
          <div *ngIf="loggedInUserRole === 'agent'" class="text-sm text-gray-600 mb-2">
            Client Wise
          </div>
          
          <div class=" h-[400px] flex justify-center cm-shadow p-4 rounded-md">
            <canvas id="transactionTypesBarChart"></canvas>
          </div>
        </div>
      </div>
  
      <!-- Agent Summary -->
      <div class="mt-6" *ngFor="let client of groupedCollections | keyvalue">
        <h2 class="text-xl font-bold mb-3">{{client.key}}</h2>
        <mat-accordion class="space-y-3 app-accordion-bg">
          <mat-expansion-panel *ngFor="let collection of client.value">
            <mat-expansion-panel-header class="bg-purple-300">
              <mat-panel-title class="font-semibold flex justify-between">
                <div class="text-left w-50">{{collection.clientName}}</div> 
                <div class="text-right">{{collection.collectionDate | date:'mediumDate'}}</div>
              </mat-panel-title>
              <!-- <mat-panel-description class="justify-end text-blue-600 font-bold">
                ${{}}
              </mat-panel-description> -->
            </mat-expansion-panel-header>
      
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 flex-1 p-4">
              <div class="flex gap-4">
                <span class="font-bold">Client Name :</span>
                <span>{{collection.clientName}}</span>
              </div>
              <div class="flex gap-4">
                <span class="font-bold">Custodian Name :</span>
                <span>{{collection.custodianName}}</span>
              </div>
              <div class="flex gap-4">
                <span class="font-bold">Agent Name :</span>
                <span>{{collection.agentName}}</span>
              </div>
              <div class="flex gap-4">
                <span class="font-bold">Collection Type :</span>
                <span>{{collection.collectionType === 'cash&online' ? 'Cash & Online' : collection.collectionType}}</span>
              </div>
              <div class="flex gap-4">
                <span class="font-bold">Total Amount :</span>
                <span>{{collection.totalAmount}}</span>
              </div>
              <div class="flex gap-4" *ngIf="collection.collectionType !== 'Online'">
                <span class="font-bold">Cash Amount :</span>
                <span>{{collection.cashAmount}}</span>
              </div>
              <div class="flex gap-4" *ngIf="collection.collectionType !== 'Cash'">
                <span class="font-bold">Online Amount :</span>
                <span>{{collection.onlineAmount}}</span>
              </div>
              <div class="flex gap-4">
                <span class="font-bold">Collected At :</span>
                <span>{{ collection.collectionDate | date:'dd/MM/yyyy' }}</span>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

  </div>
  