/* You can add global styles to this file, and also import other style files */
// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'ngx-toastr/toastr';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

$--app-bg-color: #066359;
$--app-accordion-bg-color: #4b958d;

.app-theme-bg{
    background-color: $--app-bg-color;
}

.app-theme-btn{
    background-color: #296660 !important;
    box-shadow: -1px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), -2px 0px 5px 0px rgba(0, 0, 0, 0.12) !important;
}

.app-theme-color{
    color: $--app-bg-color !important
}

html, body { height: 100%; }
body { margin: 0; }

.main-height{
    max-height: 90vh;
    overflow: auto;
    height: 90dvb;
}

.cm-shadow{
    box-shadow: -1px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), -2px 0px 5px 0px rgba(0, 0, 0, 0.12);
}

.app-accordion-bg{
    .mat-expansion-panel-header{
        background: $--app-accordion-bg-color !important;
    }
    .mat-expanded{
        .mat-expansion-panel-header.mat-expanded:hover{
            background: $--app-accordion-bg-color !important;
        }
    }
}

.mat-cs-body{
    .mat-expansion-panel-body {
        padding: 0.5rem; // equivalent to p-2
      }
      
      @media (min-width: 640px) {
        ::ng-deep mat-expansion-panel-body {
          padding: 1rem; // adjust as needed
        }
      }
}