.gold-loan{
    a{
        padding: 10px;
        &:hover{
            cursor: pointer;
            background: #3c8a82;
        }
        &.active {
            background: #3a7670;
            color: #fff;
          }
    }
    
}
.side-nav-bg{
    background: #4b958d;
}
